.box-heading-mcatmod {
   padding: 8px;
   padding-top: 5px;
   padding-bottom: 5px;
   background: url('bmhb.png') top repeat-x;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	color: #fff;
    border: 1px solid #5393C1;
}
.box-mcatmod {
    background: #4EAAE8;
	border: 1px solid #5393C1;
	border-top: none;
	padding: 4px;
	padding-top: 0px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
.box-mcatmod ul li .catright h2 {
    color: #4EAAE8;
}
.box-mcatmod ul li.catfirst a.lfirst {
   color: #fff;
   text-shadow: 1px 1px 1px #4089B7;
   background: url('mcnc.png') left bottom no-repeat;
}
.box-mcatmod ul li.catfirst.kids  a.lfirst{
   background: url('mcnc.png') left bottom no-repeat;
}
.box-mcatmod ul li.catfirst:hover a.lfirst {
   background: #fff;
   color: #4EAAE8;
   text-shadow: none;
}
.box-mcatmod ul li.catfirst.kids:hover a.lfirst {
   background: #fff;
   color: #4EAAE8;
   text-shadow: none;
}
.box-mcatmod a {
   text-shadow: 1px 1px 1px #fff;
}
.box-mcatmod ul li .catright {
   top: -32px;
} 
